[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
behavior_log = "3gXhgBLsVYVQkntuVcPdiDe2gRxbSt2CGFJKriA8q9bA"
lease        = "9g4RMQvBBVCppUc9C3Vjk2Yn3vhHzDFb8RkVm8a1WmUk"
challenge    = "KncUkaiDtvaLJRDfXDmPXKmBYnVe6m3MKBawZsf6xsj"
stake_lock   = "CmtDveNpCXNJePa7pCLi7vCPeuNmWnfqq2L2YGiG7YD4"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
